/* CONTEUDO DO MENU */
.message {
background-size: cover;

color:#FFF;
position: absolute;
top: -250px;
left: 0;
width: 100%;
height: 300px;
padding: 70px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box; 
}
#list-menu{
  list-style: none;
}
#list-menu li{
  display: inline;
}
/* lIST links */
.message a {
  color:#FFF;
  padding: 0px 20px;
}

/* BOTAO CONFIG */

#toggle {
  text-align: center;
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  position:absolute;
  cursor:pointer;
  padding:10px;
  background: #26ae90;
  width: 100px;
  border-radius: 3px;
  color: #FFF;
  line-height:20px;
  font-size:20px;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#toggle + label:after {
  content:"Menu" 
}
label {
  margin-top: 10px;
  margin-left: -65px;
  display: none;
}
/*BTN ALINHANDO NO MEIO, -50 POR CAUSA DE SEU TAMANHO*/

.container {
transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding-left: 62px;
  padding-top: 70px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  text-align: center;
}

#toggle:checked ~ .message {
  top: 0;
}

#toggle:checked ~ .container {
  margin-top: 250px;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Fechar"
}

/*Mensagens*/
#mensagem {
  font-size: 30px;
  color: #4C4B4F;
  margin-left: -50px;
  text-align: center;
}
/* TAGS */
#mensagem > ul{
  list-style: none;
  margin-left: -30px;
}
#mensagem > ul li{
  display: block;
}
#mensagem a{
  font-family: 'Merriweather';
  text-decoration: none;
  color: #527394;
}
#mensagem a:hover{
  border-bottom: 4px solid black;
}
/*REDES SOCIAIS NO HEADER*/
.share-header{
  padding-top: 30px;  
}
/* video*/
#vid{
  position: absolute;
  min-width: 115%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-video{
  position: relative;
}
#top{
  position:relative;
}
/* MEDIA QUERIE */
@media (max-width: 767px) {
  .message {
    background-size: 700px 700px;
    height: 220px;
   /* background-position-y: -200px;
    background-position-x: -150px; */
    background-position: center -200px;
  }
  /* Ativando botao de menu */
  label {
    display: inline-block;
  }

  #list-menu{
    margin-top: -40px;
  }
  #list-menu li a{
    padding: 10px;
  }
  .share-header a{
    font-size: 30px;
  }
  .img-responsive{
    max-width: 100%;
    height: auto;
  }                 
}
