@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url('https://fonts.googleapis.com/css?family=Merriweather');
  @font-face {
    font-family: 'Lato', 'Helvetic Neue';
}
*{
  padding: 0px;
  margin: 0px;
}
header{
  text-align: center; 
}

/*Container*/
#corpo{
  max-width: 1200px;
  margin: 20px auto;
  line-height: 3em;
  text-align: left;
  position: relative;
}
/*Titulo dos posts*/
#post-list{
  list-style: none;
  margin: 0px 0px 1.2em 0em;
}

#post-list > li{
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #B1B1B1;
}
.date{
  font-size: 25px;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  margin: 0.5em 0px -0.3em;
  color: #BAB8B8;
}
/* Categorias */
.categories ul{
  list-style: none;
}
.categories li a{
  font-size: 16px;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
      -ms-transition: all .2s linear;
       -o-transition: all .2s linear;
          transition: all .2s linear;
}
.categories li a:hover{
  background-color:#484D58;
  color: white;
  padding: 10px;
  font-size: 18px;
}
.post-title a{
  color: #525255;
  text-decoration: none;
  font-size: 55px;
  font-family: 'Lato';
  border-bottom: 1px solid transparent;
}
.post-title a:hover{
  color: #6C6C70;
}
.post-subtitle{
  font-family: 'Lora';
  font-size: 18px;
  color: #95A5A6;
  line-height: 22px;
}

/*Footer*/
.footer-distributed{
  background-color:#F3F3F3;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 'PT Sans Caption' 13px sans-serif;
  color: #666666; 
  padding:20px 50px;
  border-top: 1px solid #D6D6D6;
}
.footer-distributed a{
  margin-left: 5px;
  color: #525255;
}
.footer-distributed #t{color: #89C9FA;}

.footer-distributed a:hover{
  color:#C5C7C5;
}
.footer-left{
  text-align: center;
  margin-left: 100px;  
}
.footer-left a{
  font-size: 20px;
  color: #73A1E5;
}
.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
#coracao{color:#FF7272;}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
    margin-left: 0;
    font-size: 15px;
    padding: 0px;
  }
  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed a{
    font-size: 40px;
  }
  .footer-left a{
    font-size: 20px;
    color: #73A1E5;
  }
  .post-title a{
    font-size: 35px;
  }
  /* disqus */
  #comentarios{
    padding: 10px;
  }
}
