---
layout: default
---

<div class="container">
    <section class="apresentation" id="apresentation">
        <article itemscope itemtype="http://schema.org/Person" class="apresentation-panel">
            <p class="apresentation-name"> I'm <em itemprop="name">Victor Igor</em>, </p>
            <p class="apresentation-description">
                front-end from Brazil who lives in São Paulo. Currently, I'm working as a Front-end at Red Ventures, the maker of the <a href="https://fluany.com" target="_blank">fluany</a>, and open source enthusiastic.
            </p>
        </article>
        <a class="mouse-down" href="#projects">
            <svg class="icon icon-mouse-down" aria-label="scroll me to my projects">
                <use xlink:href="#icon-mouse-down"></use>
            </svg>
            <label>projects</label>
        </a>
    </section>

    <section class="articles" id="articles">
        <h2>recent articles</h2>
        {% for article in site.articles limit:3%}
            <article role="article"
                    itemscope="itemscope"
                    itemtype="http://schema.org/BlogPosting"
                    itemprop="blogPost">
                    <a href="{{article.url}}" class="article-item" target="_blank">
                        <h3 class="post-title" itemprop="name"> {{article.name}} </h3>
                        <meta itemprop="datePublished" content="2017-01-06 18:30:00 +0000">
                        <time datetime="2017-01-06T18:30:00+00:00">{{article.date}}</time>
                        <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                    </a>
            </article>
        {% endfor %}
        <div class="article-action">
            <a href="https://medium.com/@victorvoid" target="_blank" class="link-effect">
                <span class="effect-label">view all articles</span>
                <span class="effect-bottom"></span>
            </a>
        </div>
    </section>
    <section class="open-source" id="projects">
        <h2>open<br/> source</h2>
        <ul>
        {% for project in site.projects limit:4%}
            <li>
                <a href="{{project.url}}" target="_blank">
                    <h3>{{project.name}}</h3>
                    <p> {{project.description }}</p>
                    <p class="project-info">
                        <span class="project-info--item">
                            <svg class="icon icon-star-gh"><use xlink:href="#icon-star-gh"></use></svg>
                            {{project.star}}
                        </span>
                        <span class="project-info--item">
                            <svg class="icon icon-fork-gh"><use xlink:href="#icon-fork-gh"></use></svg>
                            {{project.fork}}
                        </span>
                        <span class="project-info--item">
                            <span class="language-icon"></span>
                            {{project.language}}
                        </span>
                    </p>
                </a>
            </li>
        {% endfor %}
        </ul>
        <div class="article-action">
            <a href="https://github.com/victorvoid?tab=repositories" target="_blank" class="link-effect">
                <span class="effect-label">view all projects</span>
                <span class="effect-bottom"></span>
            </a>
        </div>
    </section>
    <section class="talks" id="talks">
        <h2>talks</h2>
        <ul>
        {% for talk in site.talks limit:3%}
            <li>
                <a href="{{talk.url}}" target="_blank">
                    <h3>{{talk.name}}</h3>
                    <p datetime="{{talk.description}}">{{talk.description}}</p>
                    <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                </a>
            </li>
        {% endfor %}
        </ul>
    </section>
</div>
