<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img title="Victor Igor" alt="Foto do Victor Igor, autor do post" itemprop="image" class="img-rounded" src="{{site.baseurl}}/assets/img/blog-author.jpg">

        <p class="def">Autor</p>

        <h3 class="name">
            <a title="Dê uma olhada no meu Google+" itemprop="name" href="https://plus.google.com/{{site.gplus_username}}/posts">{{site.username}}</a>
        </h3>

        <p class="desc">{{site.user_description}}</p>
        <a title="Envie um e-mail para o Victor Igor" itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
</section>
