<header class="header-site" role="banner">
    <div class="container">
        <a href="/" class="logo">victor<span class="logo-void">void</span></a>
        <nav>
            <ul>
                <li>
                    <a href="#articles">articles</a>
                </li>

                <li>
                    <a href="#projects">projects</a>
                </li>

                <li>
                    <a href="#talks">talks</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
