<header class="header-site" role="banner">
    <div class="container">
        <h1><a href="/" class="logo">victor<span class="logo-void">void</span></a></h1>
        <nav>
            <ul>
                <li>
                    <a href="/#articles" class="effect scrollto"><span>articles</span></a>
                </li>

                <li>
                    <a href="/#projects" class="effect scrollto"><span>projects</span></a>
                </li>

                <li>
                    <a href="/#talks" class="effect scrollto"><span>talks</span></a>
                </li>
                <li>
                    <a href="https://github.com/victorvoid" aria-label="My Github" target="_blank">
                        <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
