<header>
  <input type="checkbox" name="toggle" id="toggle" checked="checked" />
  <label for="toggle"></label>

  <div class="container">

    <div id="mensagem">
    </div>
  </div>
  
  <div class="message">
    <div class="bg-video" style="background:#333">
        <video id="vid" src="https://skyfiregcs-a.akamaihd.net/exp=1450301167~acl=%2A%2F401813263.mp4%2A~hmac=2ca9f74f84c1bec95b188f84eda605819663bd8246c31096aff19a201c0cf679/vimeo-prod-skyfire-std-us/01/2147/5/135736418/401813263.mp4" autoplay="true" loop="true"></video>

    </div>
    <div id="top">
      <ul id="list-menu">
        <li><a href="{{ "/index.html" }}">Blog</a></li>
        <li><a href="#" onclick="quemsou();">Quem sou ?</a></li>
        <li><a href="#" onclick="tags();">Tags</a></li></li>
      </ul>
      <div class="share-header">
        <a  href="http://www.facebook.com/VictorCalangu"><i class="fa fa-facebook"></i></a>
        <a id="t" href="http://twitter.com/Vituzudo"><i class="fa fa-twitter"></i></a>
        <a href="https://plus.google.com/u/0/+VictorIgor0w3"><i class="fa fa-google-plus"></i></a>
        <a href="http://github.com/VictorVoid"><i class="fa fa-github"></i></a>
      </div>
  </div>
  </div>
</header>  