.apresentation
  &-panel
    margin 30px auto 32px auto
    +above(cut)
      margin 60px 0 110px auto
      max-width 500px
  &-name
    font-size 40px
    color #FFF
    font-weight 700
    margin 0
    +above(cut)
      font-size 48px
    em
      color sec
      font-style normal
  &-description
    color #FFF
    font-weight 100
    font-size 24px
    margin 16px 0 0
    line-height 32px
  .mouse-down
    display flex
    align-items center
    cursor pointer
    +above(cut)
      margin-left 77px
    label
      color sec
      font-size 14px
      font-weight 300
      margin-left 6px