.articles
  .article-item
    display block
    text-decoration none
    padding 32px 0
    border-top 1px solid rgba(255, 255, 255, .24)
    border-bottom 1px solid rgba(255, 255, 255, .24)
    position relative
    transition all .2s
    outline none
    h3
      color #FFF
      font-size 24px
      font-weight 700
      margin 0 0 8px
      +above(cut)
        font-size 40px
    time
      font-size 16px
      font-weight 300
      color #FFF
      margin-top 8px
    .icon-arrow-right
      position absolute
      right 15px
      bottom 32px
      transition all .3s
      +below(cut)
        transform scale(.8)
    &:hover, &:focus
      background sec
      padding 32px 10px
      border-color sec
      .icon-arrow-right
        fill #FFF
        transform translateX(5px)
  .article-action
    text-align right
    padding 32px 0