ul
  margin 0
  padding 0
  list-style none
.logo
  font-size 20px
  text-decoration none
  color #FFF
  letter-spacing 3.36px
  span
    color sec

.container
  max-width 1020px
  margin 0 auto

.content
  max-width 1020px
  margin 0 auto