a
  text-decoration none
ul
  margin 0
  padding 0
  list-style none
.logo
  font-size 20px
  text-decoration none
  color #FFF
  letter-spacing 3.36px
  span
    color sec

figure
  margin 0
iframe
  width 100%
  height 100%
  border none
  margin 0
.container
  width 85%
  margin 0 auto
  +above(cut)
    max-width 1020px
    

.link-effect
  color #FFF
  position relative
  text-decoration none
  width 140px
  display inline-block
  outline none
  .effect-label
    position absolute
    bottom 0
    right 9px
    width 100%
    z-index 2
    font-weight 300
    font-size 18px
  .effect-bottom
    position absolute
    bottom 0
    right 0
    height 8px
    width 100%
    background sec
    transition all .3s
  &:hover, &:focus
    .effect-bottom
      height 30px