html,
body
  background main

header
  padding 30px
  +above(cut)
    padding 60px
  .container
    display flex
    justify-content space-between
    position relative
    &:after
      content ""
      position absolute
      bottom -25px
      right 0
      background #fff
      height 1px
      width 95%
      opacity .24
      +below(cut)
        display none
    nav
      margin-top 40px
      width 25px
      +above(cut)
        width 340px
      ul
        display flex
        justify-content space-between
        align-items center
        li
          display none
          &:last-child
            display block
          +above(cut)
            display block
        a
          color: #FFF;
          text-decoration: none;
          font-weight: 300;
          letter-spacing: 2.33px;
          font-size 14px