html,
body
  background main

header
  padding 60px
  .container
    display flex
    justify-content space-between
    position relative
    &:after
      content ""
      position absolute
      bottom -25px
      right 0
      background #3d3d3d
      height 1px
      width 95%
    nav
      margin-top 40px
      width 340px
      ul
        display flex
        justify-content space-between
        a
          color: #FFF;
          opacity: 0.6;
          text-decoration: none;
          font-weight: 300;
          letter-spacing: 4px;