size(width = 30, height = 30)
    width width px
    height height px

.icon-github
  size(25, 24)
.icon-arrow-right
  size(30, 24)
  fill sec
.icon-mouse-down
  size(41, 60)
  fill sec
  g
    #mousein
      animation finger 1s infinite