size(width = 30, height = 30)
    width width px
    height height px

.icon-github
  size(25, 24)
  +below(cut)
    transform scale(1.5)
    size(37, 26)
.icon-arrow-right
  size(30, 24)
  fill sec
.icon-mouse-down
  size(41, 60)
  fill sec
  g
    #mousein
      animation finger 1s infinite
.icon-star-gh
  size(16, 16)
  fill #FFF

.icon-fork-gh
  size(11, 16)
  fill #FFF