.post
  color #c9cacc
  max-width 700px
  &-title
    color sec
    margin 10px 0
  &-description
    font-style italic
  &-meta
    display flex
  .author
    color #ccc
    text-transform uppercase
  ul
    padding-left: 20px
    list-style disc
    line-height 1.725
