.open-source
  h2
    text-align right
    +above(cut)
      br
        display none
  ul
    display flex
    flex-wrap wrap
    li
      margin 0 60px 56px 0
      +below(cut)
        margin-right 0
      a
        display block
        cursor pointer
        transition all .2s
        outline none
        padding 20px 0
        width 100%
        box-sizing border-box
        +above(cut)
          width 450px
        h3
          font-size 32px
          color #FFF
          margin 0
          +above(cut)
            font-size 40px
        p
          color #FFF
          font-weight 100
          margin-top 8px
        .project-info
          display flex
          &--item
            display flex
            margin-right 24px
            svg
              margin-top -1px
              margin-right 8px
          .language-icon
            width 16px
            height 16px
            border-radius 100%
            background sec
            margin-right 8px
        &:hover, &:focus
          background sec
          padding 20px
          +below(cut)
            padding-left 10px
          .language-icon
            background #FFF
          
   .effect-label
     right -5px