.open-source
  h2
    text-align right
  ul
    display flex
    flex-wrap wrap
    li
      margin 0 60px 56px 0
      +below(cut)
        margin-right 0
      a
        display block
        cursor pointer
        transition all .2s
        outline none
        padding 20px
        width 100%
        box-sizing border-box
        +above(cut)
          max-width 443px
        h3
          font-size 32px
          color #FFF
          margin 0
          +above(cut)
            font-size 40px
        p
          color #FFF
          font-weight 100
          margin-top 8px
        &:hover, &:focus
          background sec
          padding 25px
          +below(cut)
            padding 22px
   .effect-label
     right -5px