a
    -webkit-tap-highlight-color: rgba(0,0,0,0);

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');

mainFont(weight = 800)
    font-family 'Roboto', sans-serif
    font-weight weight
    font-style normal

h1,h2,h3,h4
    mainFont(700)

h2
  color sec
  letter-spacing 6.67px
  font-size 40px
  +above(cut)
    font-size 80px
    letter-spacing 13.34px