<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
  <body>
  {% include svg-icons.html %}
  {% include header-default.html %}
  <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
    {% if page.date %}
    <div class="time">
      <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
    </div>
    {% endif %}

    <article role="article" id="scroll" class="post-content container" itemprop="articleBody">
      {{ content }}
    </article>

    {% include footer.html %}
    {% include scripts.html %}
  </section>
  </body>
</html>